<div id="like_buttons_<%= post.id %>">
  <% if Like.exists_for_user_and_post(current_user.id, post.id) %>
    <button class="like-button" data-post-id="<%= post.id %>" data-action="unlike"
      data-empty-heart="<%= asset_path('empty_heart.png') %>"
      data-filled-heart="<%= asset_path('filled_heart.png') %>">
      <%= image_tag 'empty_heart.png', alt: 'Like Icon', class: 'icon' %>
      <span class="count"><%= post.likes.count %></span>
    </button>
  <% else %>
    <button class="like-button" data-post-id="<%= post.id %>" data-action="like"
      data-empty-heart="<%= asset_path('empty_heart.png') %>"
      data-filled-heart="<%= asset_path('filled_heart.png') %>">
      <%= image_tag 'filled_heart.png', alt: 'Like Icon', class: 'icon' %>
      <span class="count"><%= post.likes.count %></span>
    </button>
  <% end %>
</div>




