<div class="policy-terms-gallery">
  <div class="container">
	<%= image_tag 'terms_of_use_1-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_2-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_3-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_4-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_5-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_6-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_7-8.png' ,class: "gallery-image" %>
	<%= image_tag 'terms_of_use_8-8.png' ,class: "gallery-image" %>
  </div>
</div>